@model ApplicationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron pt-3 pb-3 bg-dark" style="border-radius: 0px;">
    <h6 class="font-weight-light" style="color:white;"><b>@Model.SubscribedProductName.ToUpper() - APPLICATION</b></h6>
</div>
<h4 class="card-title h4 pb-2 text-center text-black-50"><strong>Product Information</strong></h4>
<!-- Jumbotron -->
<div class="jumbotron text-center bg-dark pb-5">
    <!-- Card image -->
    <div class="view overlay my-4">
        <h2 class="card-text text-white pb-2">@Model.ProductName</h2>
        <h4 class="indigo-text h5 mb-4 text-white">Product Information</h4>
        <h2 class="lead float-left text-white">Layby</h2>
        <h4 class="float-right mb-5 text-white">R @Model.Deposit deposit <br />R @Model.CurrencyFormat(Convert.ToDecimal(@Model.MonthlyPayment)) x @Model.Terms </h4>
        <!-- Linkedin -->
        <a class="fa-lg p-2 m-2 li-ic"><i class=""></i></a>
        <!-- Dribbble -->
        <a class="fa-lg p-2 m-2 fb-ic pb-5"><i class=""></i></a>
    </div>
</div>
<fieldset>
    <div class="form-group text-center">
        <h6 class="userInfo text-center"><b class="text-center">ENTER MOBILE NUMBER</b></h6>
        <div class="col-md-12">
            <input id="mobile" name="mobile" type="text" placeholder="Enter your mobile number" class="form-control input-md" required>
            <a class="float-right info fin" data-placement="right" data-toggle="popover" data-content="" data-original-title="" title=""><i style=" font-weight:normal; font-size: 30px; padding-top: 15px; color: #b2afaf; padding-right: 25px;" class="fa fa-question-circle info" aria-hidden="true"></i></a>
        </div>
    </div>
    <p class="font-weight-normal pl-3 pr-3">Thank you for selecting the Layby option for your product purchase.</p>
    <p class="font-weight-normal  pl-3 pr-3">
        When you proceed you will be required to complete your personal information to confirm if you qualify for the purchase of the product on a loan from an NCA approved financial services provider.
    </p>
    <p class="font-weight-normal  pl-3 pr-3">During the process you will be directed to @Model.Provider, that will process your loan application to complete your purchase.</p>
    <div class="form-group text-center">
        <div class="col-md-12">
            <input type="submit" id="proceed" style=" width: 100%;
        background-color: #212529;" value="PROCEED" class="btn btn-success btn-lg mt-2" />
        </div>
    </div>
</fieldset>